html {
	background: #0e0e0f;
}

body {
	font-weight: 400;
	color: #eeeeee;
	font-family: sans-serif;
	font-size: 18px;
	margin: 70px 25% 30px 25%;
	padding: 1px 30px 20px 30px;
} 

a:link {
	font-weight: 900;
	color: #CDD0D5;
	text-decoration-color: #46A175;
}

a:visited {
  font-weight: 900;
	text-decoration: none;
	color: #8c969d;
	text-decoration-color: #46A175;
}


/* Need hover for accessibility */
a:link:hover {
  font-weight: 900;
	text-decoration: underline;
	color: #9CB0A4;
	text-decoration-color: #46A175;
}

a:visited:hover {
  font-weight: 900;
	text-decoration: underline;
	color: #9CB0A4;
	text-decoration-color: #46A175;
}

hr {
	border: none;
	border-top: 0.12rem solid;
	background-color: #2f2e33;
	color: #2f2e33;
}

.titlelink { color: #000000 }
.fullwide {width: 100%; }

.header {
	margin-bottom: 3em;
	text-align: center;
	width: 100%;
}

.socials {
	display: inline;
}

.image_nav {
	width: 1.5em;
	display: inline;
	margin: 0 0.5em 0 0.5em;
}

.name {
	display: inline;
	font-size: 3em;
	font-weight: 700;
	margin-right: 2em;
	margin-top: 2em;
}

footer {
	text-align: center;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0px 0px 30px 0px;
}


.content {
	display: block;
	align-items: center;
	margin: auto;
	width: 100%;
}

.error404 {
	display: flex;
	align-items: center;
	margin: auto;
	padding: 10px;
}

.img-error404 {
	width: 10em;
	margin-right: 2em;
	display: block;
}

.pagination {
	text-align: center;
}

h1.bio {
	text-align: center;
}

div.post {
	margin: 0 10% 0 10%;
}

h1.post {
	text-align: center;
}

.summary {
	margin-right: 25%;
}
@media screen and (prefers-color-scheme: light) {
	:root {
		--bg: #eceff4;
		--bg2: #ced0da;
		--txt: #2e3640;
		--link: var(--txt);
		--link_deco: #b48ead;
		--link_visited: #3b4252;
		--link_hover: #5e81ac;
		--svg_filter_txt_color: invert(13%) sepia(7%) saturate(12000%) hue-rotate(182deg) brightness(19%) contrast(80%);
	}

	html {
		background: var(--bg);
	}

	body {
		color: var(--txt);
	}

	a:link {
		color: var(--link);
		text-decoration-color: var(--link_deco);
	}

	a:visited {
		color: var(--link_visited);
		text-decoration-color: var(--link_deco);
	}

	a:link:hover {
		color: var(--link_hover);
		text-decoration-color: var(--link_deco);
	}

	a:visited:hover {
		color: var(--link_hover);
		text-decoration-color: var(--link_deco);
	}

	hr {
		background-color: var(--bg2);
		color: var(--bg2);
	}

	.img-error404 {
		filter: var(--svg_filter_txt_color);
	}

	.image_nav {
		filter: var(--svg_filter_txt_color);
	}
}

@media only screen and (max-width: 768px) {

	body {
		margin: auto;
		padding: auto;
	}

	.content {
		padding: 10px 0 2em;
		width: 100%;
	}

	.header {
		margin-top: 2em;
		margin-bottom: 1em;
		text-align: center;
		width: 100%;
		display: inline-block;
	}

	.socials {
		display: block;
	}

	.image_nav {
		width: 1.5em;
		display: inline;
		margin: 0 0.5em 0 0.5em;
	}

	.name {
		font-family: monospace, sans-serif;
		font-size: 2em;
		font-weight: 700;
		margin-right: 0;
		margin-top: 0;
		width: 100%;
	}
}
