{% extends "template.html" %}

{% block head_title %}
	<title>Error 404: Page not found</title>
{% endblock head_title %}
{% block content %}
<div class="error404">
	<img class="img-error404" src="/broken-chain.svg" alt="broken chain"/>
	<div>
		<h1>ERROR 404</h1>
		<h2>Sorry the page you are searching for doesn't exist</h2>
	</div>
</div>
{% endblock content %}
