<footer>
    <hr>
    <div style="text-align: left;">
    <p>You can contact me via e-mail at the address: contact[at]hugo-mechiche.com .
    </div>
    <p><a href="/blog/atom-feed.xml">Atom feed</a></p>
    <p>Made with <a href="https://www.getzola.org/">Zola</a></p>
	<a href="https://512kb.club"><img src="https://512kb.club/assets/images/green-team.svg" /></a>
    <p>Copyright (c) 2025 Hugo Mechiche</p>
	<p>Unless stated otherwise, all post content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
</footer>
