<header>
	<div class="header">
		<h1 class="name">Hugo Mechiche</h1>
		<div class="socials">
			<a class="navbar" href="https://mamot.fr/@reaton"><img class="image_nav" src="/mastodon-logo-white.svg" alt="mastodon's logo"/></a>
			<a class="navbar" href="https://pixelfed.social/UncleReaton"><img class="image_nav" src="/pixelfed-logo.svg" alt="pixelfed's logo"/></a>
			<a class="navbar" href="https://codeberg.org/UncleReaton"><img class="image_nav" src="/git.svg" alt="git's logo"/></a>
		</div>
		<br>
		<a class="navbar" href="/">Home</a>
		<a class="navbar" href="/blog">Blog</a>
	</div>
</header>
