{% extends "template.html" %}

{% block content %}
		<div class="bio">
			<h1 class="bio">About Me</h1>
			<p>Welcome! I'm Hugo Solal Mechiche a.k.a UncleReaton.</p>
			<p>I'm a tech and FLOSS enthusiast.</p>
			<p>I am interested in cybersecurity and I play CTF.</p>
		</div>
		<hr>
{% for page in paginator.pages %}
		<div class="post">
			<h1 class="post">Latest Post</h1>
			<h2 class="post"><a href="{{ page.permalink }}">{{page.title}}</a></h2>
			{% if page.updated %}
			<small class="post"><b>Updated</b> - {{ page.updated }} | </small>
			{% endif %}
			<small class="post"><b>Published</b> - {{ page.date }}</small>
			<div class="summary">
				{{ page.summary | safe}}
			</div>
			<a alt="Continue reading" href="{{ page.permalink }}">Continue Reading</a>
		</div>
{% endfor %}
{% endblock content %}
