{% extends "template.html" %}

{% block content %}
<h1 class="title">{{ page.title }}</h1>
<h2>- written by <a href="{{page.extra.authorLink}}">{{page.extra.author}}</a></h2>
{% if page.updated %}
<p><b>Updated</b> - {{ page.updated }}</p>
{% endif %}
<p><b>Published</b> - {{ page.date }}</p>
{{ page.content | safe }}
{% endblock content %}
