{% extends "template.html" %}

{% block content %}
{% for page in paginator.pages %}
		<div class="post">
			<h2 class="post"><a href="{{ page.permalink }}">{{page.title}}</a></h2>
			{% if page.updated %}
			<small class="post"><b>Updated</b> - {{ page.updated }} | </small>
			{% endif %}
			<small class="post"><b>Published</b> - {{ page.date }}</small>
			<div class="summary">
				{{ page.summary | safe }}
			</div>
			<a alt="Continue reading" href="{{ page.permalink }}">Continue Reading</a>
			<hr>
		</div>
{% endfor %}
		<nav class="pagination">
			{% if paginator.previous %}
			<a href="{{ paginator.previous }}">Previous</a>
			{% endif %}
			{% if paginator.next %}
			<a href="{{ paginator.next }}">Next</a>
			{% endif %}
			<br>
			<span><small>{{ paginator.current_index }} / {{ paginator.number_pagers }}</small></span>
		</nav>
{% endblock content %}
