<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		{% block head_title %}
		<title>Hugo Mechiche - {% if section.title %}{{section.title}}{% else %}{{ page.title }}{% endif %}</title>
		{% endblock head_title %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
			{% block css %}
				<link rel="stylesheet" type="text/css" href="/mechiche.css"/>
			{% endblock css %}
			{% block favicon %}
				<link rel="shortcut icon" href="/favicon-16x16.png" type="image/x-icon"/>
				<link rel="icon" href="/favicon-16x16.png"/>
			{% endblock favicon %}
		{% endblock head %}
	</head>
	<body>
		{% block header %}
			{% include "header.html" %}
		{% endblock header %}
		<div class="content">
		{% block content %} {% endblock content %}
		</div>
		{% block footer %}
			{% include "footer.html" %}
		{% endblock footer %}
	</body>
</html>
